table {
  text-align: left;
  th {
    background-color: #eef0f2;
    font-size: 12px;
    text-align: left;
    color: #ccc;
  }
  td{
      font-size: 12px;
  }
}
.head{
    
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #fff;
    p{
        font-size: 12px;
        font-weight: bold;
    }
}